.blog {
  background-color: #FBF8F6;

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #0E6B3B;
  }

  .see-all {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #0D6135;
    transition: color 0.3s;

    .svg-path {
      transition: fill 0.3s;
    }


    &:hover {
      color: #1CB867;
      transition: color 0.3s;

      .svg-path {
        fill: #1CB867;
        transition: fill 0.3s;
      }
    }

  }

  .left {
    width: 75%;
  }

  .right {
    .date {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;

      color: #0E6B3B;
    }

    .content {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      text-align: left;
      color: #000000;
      transition: color 0.1s;

      &:hover {
        color: #454343;
        transition: color 0.1s;
      }
    }
  }
  &-profile {
    background-color: white;
  }
}