.success-stories {
  background: #FBF8F6;

  .container {

  }

  .stories-link {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #0E6B3B;
    transition: color 0.3s;

    &:hover {
      color: #1CB867;
      transition: color 0.3s;
    }
  }

  .carousel {
    .carousel-inner {
      &.active {
        opacity: 1;
      }
    }

    .carousel-item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;

      .right {
        .stories-header {
          font-weight: bold;
          font-size: 28px;
          line-height: 33px;
          text-decoration: none;
          color: #000000;
          transition: color 0.1s;

          &:hover {
            color: #454343;
            transition: color 0.1s;
          }
        }

        p {
          font-size: 16px;
          line-height: 19px;

          color: #555555;
        }

        .stories-read {
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          text-decoration: none;
          color: #0E6B3B;
          transition: color 0.3s;

          &:hover {
            color: #1CB867;
            transition: color 0.3s;
          }
        }
      }
    }
  }

  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    right: -60px;

  }

  .carousel-control-prev {
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
  }

  .carousel-indicators {
    position: absolute;
    bottom: -40px;

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #0E6B3B;
    }

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

}

.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

