//Welcome page start navigation.
.navigation {
  position: relative;
  z-index: 1000;

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    transition: all 0.3s;

    .navbar-brand {
      font-size: 28px;
      line-height: 42px;
      color: #FFFFFF;
    }

    .navbar-toggler {
      width: 45px;
      height: 45px;
      border: none;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 3px;

      outline: none;
      transition: all 0.3s;
      @include media-breakpoint-up(lg) {
        display: none !important;
      }

      &-element {
        width: 30px;
        height: 0;
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        transition: all 0.3s;
        position: relative;

        &:nth-child(1) {
          top: -5px;
        }

        &:nth-child(2) {
          top: 0;
        }

        &:nth-child(3) {
          top: 5px;
        }
      }

      &[aria-expanded='true'] {

        background: white;
        transition: all 0.3s;

        .navbar-toggler-element {
          border: 1px solid #1CB867;
          transition: all 0.3s;
        }

        :nth-of-type(1) {
          transform: rotate(45deg);
          top: 2px;
        }

        :nth-of-type(2) {
          opacity: 0;
        }

        :nth-of-type(3) {
          transform: rotate(135deg);
          top: -2px;
        }
      }
    }

    .navbar-collapse {

      &.show {
        height: 100vh !important;

        .nav-button {
          opacity: 1;
          transition: opacity 0.5s ease;
          transition-delay: 0.1s;
        }
      }

      ul {
        @include media-breakpoint-down(md) {
          height: 100vh;
        }

        li {
          @include media-breakpoint-down(md) {
            width: 100%;
          }

          &.divider {
            width: 2px;
            background-color: rgba(255, 255, 255, 0.35);
            height: 40px;
            @include media-breakpoint-down(md) {
              display: none;
            }
          }

          &.dropdown {
            .dropdown-menu {
              display: block;
              visibility: hidden;
              opacity: 0;
              transform: translateY(20px);
              transition: .5s ease all;
              background-color: transparent;
              border: none;
              min-width: 3rem;

              .dropdown-item {
                height: 100%;
                width: 100%;
                @include media-breakpoint-down(md) {
                  width: 30%;
                }
                color: white;
                font-size: 16px;
                background-color: rgba(255, 255, 255, 0.35);
                transition: background-color 0.3s ease;

                &:hover {
                  background-color: #1CB867;
                  transition: background-color 0.3s ease;
                }
              }

              &.show {
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
                transition: .5s ease all;
              }
            }
          }


          a {
            font-weight: bold;
            color: white;
            font-size: 16px;
            transition: color 0.1s ease-in;

            @include media-breakpoint-down(md) {
              width: 100%;
              height: 15vh;
            }

            &:hover {
              color: $secondary-color;
              transition: color 0.1s;
            }

            &.dropdown-toggle {
              &:hover {
                color: white;
              }
            }
          }
        }
      }
    }

    .nav-button {
      width: 25%;
      border: 1px solid white;
      border-radius: 10px;
      transition: all 0.3s ease;
      text-decoration: none;
      color: white;
      @include media-breakpoint-down(md) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -150%);
        width: 66%;
        background-color: #1CB867;
        font-size: 22px;
        height: 64px;
        border: none;
        opacity: 0;
      }

      &:hover {
        background-color: #1CB867;
        border-color: #1CB867;
        transition: all 0.3s;
        color: white;
      }
    }
  }

  // Navigation when in active state and starting navigation for blog and profile pages.
  &.navigation-white {
    .nav-place-keeper {
      height: 68px;
      width: 100%;
    }

    .navbar {
      background: white;

      @include media-breakpoint-down(md) {
        border: none;
      }

      .navbar-brand {
        color: #1CB867;
      }

      .navbar-toggler {
        background: transparent;

        &-element {
          border-color: black;
        }
      }

      .nav-button {
        color: #0E6B3B;
        border-color: #0E6B3B;
        @include media-breakpoint-down(md) {
          color: white;
        }
      }

      ul {
        li {
          &.divider {
            background-color: rgba(28, 184, 103, 0.35);
          }

          &.dropdown {
            .dropdown-toggle {
              svg {
                path {
                  fill: black;
                }
              }

              &:hover {
                color: black;
              }
            }

            .dropdown-menu {
              .dropdown-item {
                background-color: rgba(0, 0, 0, 0.7);
              }
            }
          }

          a {
            color: black;
          }
        }
      }

    }
  }
  // Add fixed position and shadow when in active state.
  &.active {
    .navbar {
      position: fixed;
      transition: all 0.3s ease;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    }
  }
}

// Background styling for collapse navigation in .show state.
.nav-bg-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(4px) !important;
}

// Background styling for collapse navigation in .show state.
.nav-bg-light {
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(4px) !important;
}
