.people {

  h5 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
  }

  .card-wrapper {
    text-decoration: none;

    &:hover {
      .card {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
      }
    }

    .card {
      background: #FFFFFF;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      border: none;
      transition: all 0.3s ease;

      .card-subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #0E6B3B;
      }

      .card-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
      }

      .card-body {
        font-size: 14px;
        line-height: 16px;
        color: #7E7E7E;

        .percentage-bar {
          position: relative;
          background: #DCE8E2;
          border-radius: 6px;
          width: 100%;
          height: 10px;

          .percentage-amount {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 6px;
            width: 30%;
            height: 10px;
            background: #1CB867;
          }
        }

        .raised {
          font-weight: bold;
          font-size: 13px;
          line-height: 15px;
          color: #000000;
        }
      }
    }
  }

  .see-all {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #0D6135;
    transition: color 0.3s;

    .svg-path {
      transition: fill 0.3s;
    }
    
    &:hover {
      color: #1CB867;
      transition: color 0.3s;

      .svg-path {
        fill: #1CB867;
        transition: fill 0.3s;
      }
    }
  }
}


