.profile-nav {
  border: 1px solid #E0E0E0;

  .nav-item{
    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }

  .nav-link {
    color: #7E7E7E;
    font-size: 16px;
    line-height: 19px;
    transition: color 0.3s;
    &:hover {
      color: #5e5d5d;
      transition: color 0.3s;
    }
  }

  sup {
    color: #0E6B3B;
  }
  .active{
    color: #0E6B3B;
  }
}